body {
  background-color: rgb(46, 46, 135);
}
#chatbot-container {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

#chatbot-header {
  background-color: rgb(17, 0, 128);
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

#chatbot-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.message {
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 80%;
}

.message.bot {
  background-color: #f1f1f1;
  align-self: flex-start;
}

.message.user {
  background-color: #dcf8c6;
  align-self: flex-end;
}

#chatbot-input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  gap: 5px;
}

#chatbot-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#sent-btn {
  padding: 8px 12px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
