<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ChatBot</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}" />
  </head>
  <body>
    <div id="chatbot-container" class="hidden">
      <div id="chatbot-header">
        <span style="color: white"><strong>CHATBOT</strong></span>
      </div>
      <div id="chatbot-body">
        <div id="chatbot-messages"></div>
        <div class="message bot">
          おはようございます！大手前大学のチャットボットです！
        </div>
      </div>
      <div id="chatbot-input-container">
        <input type="text" id="chatbot-input" placeholder="Type a message..." />
        <button id="sent">Send</button>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
